/*   codigo con sass*

FONTS */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");


/* VARIABLES  */
$color1: hsl(235, 16%, 14%);
$color2: hsl(236, 21%, 26%);
$color3: hsl(345, 95%, 68%);
$color4: hsl(237, 18%, 59%);
$color5: white;




/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* imgs*/

img {
    max-width: 100%;
}

.stars {
    position: absolute;
}

.hills {
    position: absolute;
    bottom: 0;
}


/* ESTILOS GENERALES */

body {
    font-family: 'Red Hat Text', sans-serif;
    background-color: $color1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;

    h1 {
        color: $color5 ;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 50px;

    }

}

.countdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-around;

    div {
        margin: 10px;
    }

    p {
        padding: 20px;
        color: $color3;
        background-color: $color2;
        border-radius: 5px;
        font-size: 30px;
    }

    h3 {
        color: $color4;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        margin-top: 10px;

    }


}


/* socials */

.socials {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    ul {
        display: flex;
        list-style: none;
    }

    li {
        margin: 0 20px;
    }

    li :hover {
        background-color: $color3;
    }


}




/* media query 
 para ser mas responsive se utilizo a 360 px 
 */

@media (min-width: 360px) {
    .container {
        min-width: auto;
    }

    h1 {
        text-align: center;
    }

    .time-box {
        width: 70px;
        height: 70px;
    }
}


@media (max-width: 1440px) {

    .stars img,
    .hills img {
        width: 1600px;
    }
}

@media (min-width: 1600px) {

    .stars img,
    .hills img {
        width: 1920px;
    }
}